@charset "utf-8";
body{

    height: 100%;
    background-color: #D9D2CA;
}
header{
    width: 100%;
    height: 2.55rem;
    background-color: #EC8F6D;
    line-height: 2.55rem;
  
    position: fixed;
      left:0;top:0;
      z-index: 3
}
header span{

    margin-right: 4.775rem;
    margin-left: 0.6rem;
}
header h5{

    display: inline-block;
    font-size: 0.775rem;
    color:#fff;
}
.banner {
    width: 15.6rem;
   height: 10.5rem;
    margin: 0.3rem 0.2rem  0  0.2rem ;
    position: relative;
    
}
.banner .img{

width: 15.6rem;
height: 10.5rem;
}
.banner p{
    width: 5.25rem;
    height: 5.25rem;
    position: absolute;
    left: 50%;top:50%;
    margin-left: -2.65rem;
    margin-top: -4rem;
    border-radius: 50%;
    background-color: #BDB5AA;
    overflow: hidden;
}
.banner p img{

    width: 4.75rem;
    height: 4.75rem;
     position: absolute;
    left: 50%;top:50%;
    margin-top: -2.33rem;
    margin-left: -2.33rem;
}
.p:hover img{
    

}
.connet{
    background-color: #fff;
    height: 2.85rem;
    margin : 0 0.2rem;
    padding-top:0.6rem;
    box-sizing: border-box;
}
.connet ul{
    float: left;
    margin-left: 0.7rem;
    width: 9.275rem;
      height: 1.45rem;
}
.connet ul li{

  width: 33.33%;
    float: left;
    color:#79746E;
    
    font-size: 0.5rem;
}
.connet span{
    display: inline-block;
    width: 4.0rem;
    height: 1.6rem;
    background-color:#705D76;
    text-align: center;
    line-height: 1.6rem;
    float: right;
    border-radius: 3px;
    color:#fff;
    margin-right: 0.55rem;
}
.main ul{

    width: 15.525rem;
   margin-left: 0.2rem;
   margin-top: 0.4rem;
}
.main ul li img{
    width: 4.95rem;
    height: 4.95rem;
}
.main ul li{
    width: 33.33333%;
    float: left;
    margin-bottom: 0.4rem;
  
}
.footer{

    width: 100%;
    height: 2.55rem;
    background-color: #695F56;
    position: fixed;
    left:0;bottom: 0;
    text-align: center;
    line-height: 2.25rem;
    font-size: 1.5rem;
    color:#776E66;


}